<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webFrame trials</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://WWW.w3school.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?font-family=raleway">

</head>
<body>
<h1>Basic operations! enjoy please</h1>

<div class="form">
        <form action="/operation" method="POST">
            value1:<input type="number" name="Value1" >
            value2:<input type="number" name="Value2" ><br><br>

            <button type="submit">Submit</button>

        </form>
    </div>

</body>
</html>